Source: plaso-static
Section: unknown
Priority: extra
Maintainer: Log2Timeline <log2timeline-dev@googlegroups.com>
Build-Depends: debhelper (>= 7.0.0)
Standards-Version: 3.9.2
Homepage: http://code.google.com/p/plaso/

Package: plaso-static
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: log2timeline-perl
Description: Static (PyInstaller) build of Plaso Log2Timeline
 Log2Timeline is a framework to create super timelines.
 It is a framework to parse various files and collect time-based
 digital artifacts that can be used in computer forensics.
