language: python
virtualenv:
  system_site_packages: true
matrix:
  include:
  - env: TARGET="pylint"
    os: linux
    dist: trusty
    sudo: required
    group: edge
    python: 2.7
  - env: TARGET="linux-python27"
    os: linux
    dist: trusty
    sudo: required
    group: edge
    python: 2.7
  - env: TARGET="linux-python34"
    os: linux
    dist: trusty
    sudo: required
    group: edge
    python: 3.4
  - env: [TARGET="linux-python27-tox", TOXENV="py27"]
    os: linux
    dist: trusty
    sudo: required
    group: edge
    python: 2.7
  - env: [TARGET="linux-python34-tox", TOXENV="py34"]
    os: linux
    dist: trusty
    sudo: required
    group: edge
    python: 3.4
  - env: [TARGET="macos-python27", PYTHONPATH="/Library/Python/2.7/site-packages/"]
    os: osx
    osx_image: xcode9.2
    language: generic
  - env: TARGET="jenkins"
    os: linux
    dist: trusty
    sudo: required
    group: edge
    python: 2.7
  allow_failures:
  - env: TARGET="linux-python34"
install:
- ./config/travis/install.sh
script:
- ./config/travis/run_with_timeout.sh 30 ./config/travis/runtests.sh
after_success:
- if test ${TARGET} = "linux-python27"; then curl -o codecov.sh -s https://codecov.io/bash && /bin/bash ./codecov.sh; fi
