environment:
  matrix:
  - DESCRIPTION: "Windows with 32-bit Python 3.11"
    MACHINE_TYPE: "x86"
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2022
    PYTHON: "C:\\Python311"
    PYTHON_VERSION: "3.11"
    L2TBINARIES_TRACK: "dev"
  - DESCRIPTION: "Windows with 64-bit Python 3.11"
    MACHINE_TYPE: "amd64"
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2022
    PYTHON: "C:\\Python311-x64"
    PYTHON_VERSION: "3.11"
    L2TBINARIES_TRACK: "dev"
  - DESCRIPTION: "Mac OS with Python 3.11"
    APPVEYOR_BUILD_WORKER_IMAGE: macos-monterey
    HOMEBREW_NO_INSTALL_CLEANUP: 1

install:
- cmd: "%PYTHON%\\python.exe -m pip install -U pip setuptools twine wheel"
- cmd: "%PYTHON%\\python.exe -m pip install pywin32 WMI"
- cmd: "%PYTHON%\\python.exe %PYTHON%\\Scripts\\pywin32_postinstall.py -install"
- ps: If ($isWindows) { .\config\appveyor\install.ps1 }
- sh: config/appveyor/install.sh

build_script:
- cmd: "%PYTHON%\\python.exe setup.py bdist_wheel"

test_script:
- cmd: "%PYTHON%\\python.exe run_tests.py"
- cmd: IF EXIST "tests\\end-to-end.py" (
    set PYTHONPATH=. &&
    "%PYTHON%\\python.exe" "tests\\end-to-end.py" --debug -c "config\\end-to-end.ini" )
- sh: config/appveyor/runtests.sh

artifacts:
- path: dist\*.whl
