environment:
  matrix:
  - TARGET: python27
    MACHINE_TYPE: "x86"
    PYTHON: "C:\\Python27"
  - TARGET: python27
    MACHINE_TYPE: "amd64"
    PYTHON: "C:\\Python27-x64"
  - TARGET: python36
    MACHINE_TYPE: "x86"
    PYTHON: "C:\\Python36"
  - TARGET: python36
    MACHINE_TYPE: "amd64"
    PYTHON: "C:\\Python36-x64"

matrix:
  allow_failures:
  - TARGET: python36

install:
- cmd: '"C:\Program Files\Microsoft SDKs\Windows\v7.1\Bin\SetEnv.cmd" /x86 /release'
- ps: "[System.Net.ServicePointManager]::SecurityProtocol = [System.Net.SecurityProtocolType]::Tls12"
- ps: (new-object net.webclient).DownloadFile('https://www.sqlite.org/2018/sqlite-dll-win32-x86-3230100.zip', 'C:\Projects\sqlite-dll-win32-x86-3230100.zip')
- ps: $Output = Invoke-Expression -Command "& 'C:\\Program Files\\7-Zip\\7z.exe' -y -oC:\\Projects\\ x C:\\Projects\\sqlite-dll-win32-x86-3230100.zip 2>&1"
- cmd: copy C:\Projects\sqlite3.dll C:\Python27\DLLs\
- cmd: "%PYTHON%\\python.exe -m pip install --upgrade pip"
- cmd: "%PYTHON%\\python.exe -m pip install pywin32 WMI"
- cmd: "%PYTHON%\\python.exe %PYTHON%\\Scripts\\pywin32_postinstall.py -install"
- cmd: git clone https://github.com/log2timeline/l2tdevtools.git ..\l2tdevtools
- cmd: if [%TARGET%]==[python27] (
    mkdir dependencies &&
    set PYTHONPATH=..\l2tdevtools &&
    "%PYTHON%\\python.exe" ..\l2tdevtools\tools\update.py --download-directory dependencies --machine-type %MACHINE_TYPE% --msi-targetdir "%PYTHON%" --track dev PyYAML XlsxWriter artifacts bencode biplist certifi chardet dateutil dfdatetime dfvfs dfwinreg dtfabric efilter elasticsearch-py elasticsearch5-py funcsigs future hachoir-core hachoir-metadata hachoir-parser idna libbde libesedb libevt libevtx libewf libfsntfs libfvde libfwnt libfwsi liblnk libmsiecf libolecf libqcow libregf libscca libsigscan libsmdev libsmraw libvhdi libvmdk libvshadow libvslvm lz4 mock pbr pefile psutil pycrypto pyparsing pysqlite pytsk3 pytz pyzmq requests six urllib3 yara-python )
- cmd: if [%TARGET%]==[python36] (
    mkdir dependencies &&
    set PYTHONPATH=..\l2tdevtools &&
    "%PYTHON%\\python.exe" ..\l2tdevtools\tools\update.py --download-directory dependencies --machine-type %MACHINE_TYPE% --msi-targetdir "%PYTHON%" --track dev PyYAML XlsxWriter artifacts bencode biplist certifi chardet dateutil dfdatetime dfvfs dfwinreg dtfabric efilter elasticsearch-py elasticsearch5-py funcsigs future idna libbde libesedb libevt libevtx libewf libfsntfs libfvde libfwnt libfwsi liblnk libmsiecf libolecf libqcow libregf libscca libsigscan libsmdev libsmraw libvhdi libvmdk libvshadow libvslvm lz4 mock pbr pefile psutil pycrypto pyparsing pytsk3 pytz pyzmq requests six urllib3 yara-python )

build: off

test_script:
- cmd: "%PYTHON%\\python.exe" -c "import pefile"
- "%PYTHON%\\python.exe run_tests.py"
