include ACKNOWLEDGEMENTS AUTHORS LICENSE README
include run_tests.py
include utils/check_dependencies.py
recursive-include config *
recursive-include data *
recursive-include doc *
recursive-include plaso *.proto
recursive-include test_data *
exclude .gitignore
exclude *.pyc
recursive-exclude plaso *.pyc
