Source: python-plaso
Section: python
Priority: extra
Maintainer: Log2Timeline <log2timeline-dev@googlegroups.com>
Build-Depends: debhelper (>= 7.0.0), python, python-setuptools
Standards-Version: 3.9.2
Homepage: https://github.com/log2timeline/plaso/

Package: python-plaso
Architecture: all
Depends: libprotobuf7 | libprotobuf8 | libprotobuf9, libyaml-0-2, libbde-python, libesedb-python, libevt-python, libevtx-python, libewf-python, libfwsi-python, liblnk-python, libmsiecf-python, libolecf-python, libqcow-python, libregf-python, libtsk, libsigscan-python, libsmdev-python, libsmraw-python, libvhdi-python, libvmdk-python, libvshadow-python, ipython, python-artifacts, python-bencode, python-binplist, python-construct, python-dateutil, python-dfvfs, python-dpkt, python-hachoir-core, python-hachoir-metadata, python-hachoir-parser, python-mock, python-pefile, python-protobuf, python-psutil, python-pyparsing, python-six, python-yaml, python-tz, python-zmq, pytsk3, ${shlibs:Depends}, ${misc:Depends}
Recommends: elasticsearch, libesedb-tools, libbde-tools, libevt-tools, libevtx-tools, libewf-tools, liblnk-tools, libmsiecf-tools, libolecf-tools, libqcow-tools, libregf-tools, libsmdev-tools, libsmraw-tools, libvhdi-tools, libvmdk-tools, libvshadow-tools, libtsk-dev, python-requests, pyelasticsearch, sleuthkit
Description: Plaso Log2Timeline
 Log2Timeline is a framework to create super timelines.
 It is a framework to parse various files and collect time-based
 digital artifacts that can be used in computer forensics.
