#!/usr/bin/make -f

%:
	dh $@ --buildsystem=pybuild --with=python3

.PHONY: override_dh_auto_test
override_dh_auto_test:

.PHONY: override_dh_auto_install
override_dh_auto_install:
	dh_auto_install
	mkdir -p ${PWD}/debian/tmp/usr/share/plaso/
	mv ${PWD}/debian/tmp/usr/lib/python*/dist-packages/plaso/data/* ${PWD}/debian/tmp/usr/share/plaso/
	rmdir ${PWD}/debian/tmp/usr/lib/python*/dist-packages/plaso/data
	find ${PWD}/debian/tmp/usr/bin/ -type f -exec mv {} {}.py \;

