# Pyparsing doesn't mock very well, and it's easily pip installable.
pyparsing
# We have several parsers that create construct objects, and if we install
# it correctly, the documentation looks better.
construct
# We need to pin the version of Sphinx for readthedocs, see
# https://github.com/rtfd/readthedocs.org/issues/3769
sphinx==1.7.0