# Run tests on Fedora and Ubuntu Docker images using GIFT CORP and GIFT PPA on commit
name: test_docker
on: [push]
permissions: read-all
jobs:
  test_fedora:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ['39', '40']
    container:
      image: registry.fedoraproject.org/fedora:${{ matrix.version }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up container
      run: |
        dnf install -y dnf-plugins-core langpacks-en
    - name: Install dependencies
      run: |
        dnf copr -y enable @gift/dev
        dnf install -y @development-tools libbde-python3 libcaes-python3 libcreg-python3 libesedb-python3 libevt-python3 libevtx-python3 libewf-python3 libfcrypto-python3 libfsapfs-python3 libfsext-python3 libfsfat-python3 libfshfs-python3 libfsntfs-python3 libfsxfs-python3 libfvde-python3 libfwnt-python3 libfwsi-python3 liblnk-python3 libluksde-python3 libmodi-python3 libmsiecf-python3 libolecf-python3 libphdi-python3 libqcow-python3 libregf-python3 libscca-python3 libsigscan-python3 libsmdev-python3 libsmraw-python3 libvhdi-python3 libvmdk-python3 libvsapm-python3 libvsgpt-python3 libvshadow-python3 libvslvm-python3 python3 python3-XlsxWriter python3-acstore python3-artifacts python3-bencode python3-build python3-certifi python3-cffi python3-chardet python3-dateutil python3-defusedxml python3-devel python3-dfdatetime python3-dfvfs python3-dfwinreg python3-dtfabric python3-fakeredis python3-flor python3-idna python3-lz4 python3-mock python3-opensearch python3-pefile python3-psutil python3-pyparsing python3-pytsk3 python3-pytz python3-pyyaml python3-redis python3-requests python3-setuptools python3-six python3-urllib3 python3-wheel python3-xattr python3-yara python3-zmq python3-zstd
    - name: Run tests
      env:
        LANG: C.utf8
      run: |
        python3 ./run_tests.py
    - name: Run end-to-end tests
      run: |
        if test -f tests/end-to-end.py; then PYTHONPATH=. python3 ./tests/end-to-end.py --debug -c config/end-to-end.ini; fi
    - name: Build source distribution (sdist)
      run: |
        python3 -m build --no-isolation --sdist
    - name: Build binary distribution (wheel)
      run: |
        python3 -m build --no-isolation --wheel
  test_ubuntu:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ['24.04']
    container:
      image: ubuntu:${{ matrix.version }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up container
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        apt-get update -q
        apt-get install -y libterm-readline-gnu-perl locales software-properties-common
        locale-gen en_US.UTF-8
        ln -f -s /usr/share/zoneinfo/UTC /etc/localtime
    - name: Install dependencies
      run: |
        add-apt-repository -y ppa:gift/dev
        apt-get update -q
        apt-get install -y build-essential libbde-python3 libcaes-python3 libcreg-python3 libesedb-python3 libevt-python3 libevtx-python3 libewf-python3 libfcrypto-python3 libfsapfs-python3 libfsext-python3 libfsfat-python3 libfshfs-python3 libfsntfs-python3 libfsxfs-python3 libfvde-python3 libfwnt-python3 libfwsi-python3 liblnk-python3 libluksde-python3 libmodi-python3 libmsiecf-python3 libolecf-python3 libphdi-python3 libqcow-python3 libregf-python3 libscca-python3 libsigscan-python3 libsmdev-python3 libsmraw-python3 libvhdi-python3 libvmdk-python3 libvsapm-python3 libvsgpt-python3 libvshadow-python3 libvslvm-python3 python3 python3-acstore python3-artifacts python3-bencode python3-build python3-certifi python3-cffi-backend python3-chardet python3-dateutil python3-defusedxml python3-dev python3-dfdatetime python3-dfvfs python3-dfwinreg python3-dtfabric python3-fakeredis python3-flor python3-idna python3-lz4 python3-mock python3-opensearch python3-pefile python3-pip python3-psutil python3-pyparsing python3-pytsk3 python3-redis python3-requests python3-setuptools python3-six python3-tz python3-urllib3 python3-wheel python3-xattr python3-xlsxwriter python3-yaml python3-yara python3-zmq python3-zstd
    - name: Run tests
      env:
        LANG: en_US.UTF-8
      run: |
        python3 ./run_tests.py
    - name: Run end-to-end tests
      env:
        LANG: en_US.UTF-8
      run: |
        if test -f tests/end-to-end.py; then PYTHONPATH=. python3 ./tests/end-to-end.py --debug -c config/end-to-end.ini; fi
    - name: Build source distribution (sdist)
      run: |
        python3 -m build --no-isolation --sdist
    - name: Build binary distribution (wheel)
      run: |
        python3 -m build --no-isolation --wheel
